
.Card{
  border: 1px solid rgb(82, 79, 79);
  border-radius:20px;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.103);
  padding:25px ;
  margin:15px;
  text-align: center;
  max-width: 450px;
  display: inline-block;
}
.Card .Card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.Card .Card-title{
  font-family: Arial,sans-serif;
  margin: 0;
  color: hsl(0, 0%, 10%);

}
.Card .Card-text{
  font-family: Arial,sans-serif;
  color: hsl(0, 0%, 30%);
}